// swiper
@import 'swiper/css';
@import 'swiper/swiper-bundle.css';

// Scrollbar
@import 'overlayscrollbars/overlayscrollbars.css';

// Icons
@import './vendors/fontawesome.scss';
@import './vendors/flag-icon.scss';
@import './vendors/icofont.scss';
@import './vendors/themify.scss';
@import './vendors/animate.scss';
@import './vendors/whether-icon.scss';

// Style
@import './style.scss';
@import './responsive.scss';
